{% extends 'users/base.html' %}
{% load static %}

{% block title %}Join the Family{% endblock title %}
{% load crispy_forms_tags %}
{% block body %} 
<div class="container">
<div class="p-5 mb-5 mt-2 bg-body rounded">
    <div class="sign-up form">
    <h2>Join the Family</h2>
    <form method="post">
        
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="button btn-dark">Sign Up</button>
        <br><br>
    </form>
    
    Already Joined? Login!
    <br>
    <button class="button btn-dark" value="Login">
        <a href="{% url 'login' %}" style="text-decoration: none; color: white;">Login</a>
    </button>
    </div>
    </div>
</div>
{% endblock %}
